apiVersion: v1
kind: ConfigMap
metadata:
  name: edge-configmap
  namespace: redpanda
  labels:
    app: redpanda-edge
data:
  agent.yaml: |
    create_topics: true
    source:
      name: "source"
      bootstrap_servers: redpanda-primary-0:9093,redpanda-primary-1:9093,redpanda-primary-2:9093
      consumer_group_id: "redpanda-edge-agent"
      # List of outbound topics to push from source to destination
      topics:
        topic0:
          destination: "_schemas"
          source: "_schemas"
          partition_count: 1
          replicas: 3
          custom_partitioning_enabled: false
        topic1:
          destination: "test-data"
          source: "test-data"
          partition_count: 10
          replicas: 3
          custom_partitioning_enabled: true
          configs:
            cleanup.policy: "compact"
            retention.ms: "3600000"
            segment.bytes: "67108864"
        topic2:
          destination: "test-events"
          source: "test-events"
          partition_count: 5
          replicas: 3
          custom_partitioning_enabled: true
          configs:
            cleanup.policy: "compact"
            retention.ms: "86400000"
            segment.bytes: "67108864"
      tls:
        enabled: false
        client_key: "/etc/redpanda/certs/agent.key"
        client_cert: "/etc/redpanda/certs/agent.crt"
        ca_cert: "/etc/redpanda/certs/ca.crt"
    destination:
      name: "destination"
      bootstrap_servers: redpanda-replica-0:9093,redpanda-replica-1:9093,redpanda-replica-2:9093
      max_version: "3.0.0" # maximum kafka protocol version
      # List of inbound topics to pull from destination to source, If you don't want to pull data from the destination to the source, keep the topics commented out
      #topics:
      #  topic0:
      #  topic1:
      #  SASL config, if SASL is enabled on replica cluster then uncomment the below section
      #sasl:
      #  sasl_method: "SCRAM-SHA-512"
      #  sasl_username: admin
      #  sasl_password: passw0rd
      tls:
        enabled: false
        client_key: "/etc/redpanda/certs/agent.key"
        client_cert: "/etc/redpanda/certs/agent.crt"
        ca_cert: "/etc/redpanda/certs/ca.crt"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redpanda-edge-agent
  namespace: redpanda
spec:
  serviceName: redpanda-edge-agent
  replicas: 1
  selector:
    matchLabels:
      app: redpanda-edge
  template:
    metadata:
      annotations:
        ad.datadoghq.com/redpanda-edge-agent.check_names: '["openmetrics"]'
        ad.datadoghq.com/redpanda-edge-agent.init_configs: '[{}]'
        ad.datadoghq.com/redpanda-edge-agent.instances: |
          [
            {
              "prometheus_url": "http://%%host%%:8080/metrics",
              "namespace": "",
              "metrics": [
                "redpanda_edge_agent_up",
                "redpanda_edge_agent_source_brokers_total",
                "redpanda_edge_agent_destination_brokers_total",
                "redpanda_edge_agent_source_topics_total",
                "redpanda_edge_agent_destination_topics_total",
                "redpanda_edge_agent_source_partitions_total",
                "redpanda_edge_agent_destination_partitions_total",
                "redpanda_edge_agent_uncommitted_offsets_total",
                "redpanda_edge_agent_partitions_per_topic",
                "redpanda_edge_agent_source_ping_ms",
                "redpanda_edge_agent_destination_ping_ms",
                "redpanda_edge_agent_metrics_last_scrape_age_seconds",
                "redpanda_edge_agent_total_lag",
                "redpanda_edge_agent_max_lag",
                "redpanda_edge_agent_committed_offset",
                "redpanda_edge_agent_consumer_bytes_total",
                "redpanda_edge_agent_producer_bytes_total",
                "redpanda_edge_agent_records_fetched_total",
                "redpanda_edge_agent_records_sent_total",
                "redpanda_edge_agent_fetch_errors_total",
                "redpanda_edge_agent_produce_errors_total",
                "redpanda_edge_agent_commit_errors_total",
                "redpanda_edge_agent_backoff_duration_seconds",
                "redpanda_edge_agent_partition_lag"
              ]
            }
          ]
      labels:
        app: redpanda-edge
    spec:
      containers:
      - name: redpanda-edge-agent
        image: vuldin/redpanda-edge-agent
        volumeMounts:
        - name: agent-config
          mountPath: /etc/redpanda/agent.yaml
          subPath: agent.yaml
        resources:
          requests:
            memory: 64Mi
            cpu: 250m
          limits:
            #memory: 256Mi
            #cpu: 1
            memory: 128Mi
            cpu: 500m
        env:
        - name: REDPANDA_METRICS_PORT
          value: "8080"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
      volumes:
      - name: agent-config
        configMap:
          name: edge-configmap

